$Rojo:red;
$Negro:Black;



.Titulos{
 font-weight: bold;
 font-size: 55px;
 color:$Rojo;
 text-align: center;

}

.Textoprimario
{
    font-size: 30px;
    color:$Negro;
    text-align: center;
}

.Subtitulosdecuadros
{
    font-size: 30px;
font-weight: bold;
color: $Negro;

}

