$Rojo:red;
$Negro:Black;



.Titulos{
 font-weight: bold;
 font-size: 55px;
 color:$Rojo;
 text-align: center;

}

.Textoprimario
{
    font-size: 30px;
    color:$Negro;
    text-align: center;
}

.Subtitulosdecuadros
{
    font-size: 30px;
font-weight: bold;
color: $Negro;

}




.nav-item a:hover

    {
        transform: scale(1.55);
        background-color: rgb(40, 66, 155);
        text-decoration: underline;
    }
    .col-md-3  img:hover 

    {
        transform: scale(1.35);}
    
        
        img .imagen
 

        {
            border-radius: 100%;
        }
        .index video
        {margin: auto;
            display:flex;
            justify-content: center;
            align-items: center;
            width: 80%;
        }
    
        
    .btn:hover


    {
        transform: scale(1.35);}
    

    .form-control:hover {
        transform: scale(1.35);

    }

    .grupo-1
    {
        display: grid;
    color: rgb(255, 255, 255);
    grid-template-columns: auto auto auto;
    }
    .pie-pagina{

        width: 100%;
    
        background-color:#0d2033;
    
    }
    
    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
       
    }
    .red-social img {
        height: 40px;
        width: 40px;
        border-radius:20%;
    }



    /*responsive*/





    @media screen and (max-width: 768px) {
    
    .pie-pagina {

        width: 100%;
    
        background-color:#0d2033;
        
    
    }
    .grupo-1
    {
        display: inline-block;
    
    }
  
}
